[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/home/roboshop/payment-p

Environment=CART_HOST=cart-p.roboshop.internal
Environment=USER_HOST=user-p.roboshop.internal
Environment=AMQP_HOST=rabbitmq-p.roboshop.internal
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS={{RABBITMQ_USER_PASSWORD}}

ExecStart=/usr/local/bin/uwsgi --ini payment-p.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment-p

[Install]
WantedBy=multi-user.target