[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-1.roboshop.internal
Environment=CATALOGUE_HOST=catalogue-1.roboshop.internal
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target